<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>OnlineFormatter</display-name>
	<welcome-file-list>
		<welcome-file>/home.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>excelLogger</servlet-name>
		<servlet-class>com.logger.upload.FileUploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>excelLogger</servlet-name>
		<url-pattern>/excelLogger</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>xmlFormatter</servlet-name>
		<servlet-class>com.format.xml.FormatXML</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>xmlFormatter</servlet-name>
		<url-pattern>/xmlFormatter</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>sqlFormatter</servlet-name>
		<servlet-class>com.format.sql.SQLFormatter</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>sqlFormatter</servlet-name>
		<url-pattern>/sqlFormatter</url-pattern>
	</servlet-mapping>
	<context-param>
		<description>Location to store uploaded file in Windows</description>
		<param-name>windows_file-store_path</param-name>
		<param-value>C:\Users\USER\Documents\logger\input\data</param-value>
	</context-param>
	<context-param>
		<description>Location to store uploaded file in Other OS</description>
		<param-name>other_os_file-store_path</param-name>
		<param-value>/home/user/logger/input/data</param-value>
	</context-param>
</web-app>